[settings]
SECRET_KEY=%%+n(fn!3b07d6$xnf^p=(@x*fefp9649qu-969k8s%%@0z72qly
DEBUG=False
DEV_MODE=False
ALLOWED_HOSTS=*
INTERNAL_IPS=127.0.0.1
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
REGISTRATION_OPEN=
TURING_ADMIN_PASS=
TURING_BOT_PASS=